@import "tailwindcss";

@theme {
  --color-primary: #051125;
  --color-primary-light: #1b263b;
  --color-secondary: #47607e;
  --color-surface: #f8f9ff;
  --color-surface-alt: #e5efff;
  --color-on-surface: #031d34;
  --color-muted: #45474d;
  --color-accent: #ffba27;
  --color-error: #ba1a1a;
}
